{% trans_default_domain 'Library' %}
{% extends 'kookaburra.html.twig' %}

{% form_theme form
    'form/kookaburra_form.html.twig'
%}

{% set module = {'baseURL': 'library', 'crumbs': [{uri: 'library__manage_catalogue', name: 'Library'}],  'title': 'Browse the Library', domain: 'Library'} %}
{% set breadcrumbs = 'new' %}
{% set moduleName = 'Library' %}

{% block content %}
    <div style="width: 95%; border: 1px solid #444; min-height: 450px; ; background: url('{{ asset(getRelativeImageURL(library.bgImage)) }}') {{ library.bgColour }} repeat-y;  padding: 5rem;">
    <table class="noIntBorder borderGrey mb-1" style="width: 100%; background-color: rgba(255,255,255,0.6); margin-top: 30px">
        <tbody>
        <tr>
            <td style="width: 10px">
            </td>
            <td style="width: 50%; padding-top: 5px; text-align: center; vertical-align: top">
                <div style="color: #CC0000; margin-bottom: -2px; font-weight: bold; font-size: 135%">{{ 'Monthly Top 5'|trans }}</div>
                {% for item in top5 %}
                <div style="margin-top: 6px; font-weight: bold">{{ loop.index }}. {{ item.name }}</div>
                <div style="font-style: italic; font-size: 85%">{{ 'by'|trans }} {{ item.producer }}</div>
                {% endfor %}
            </td>
            <td style="width: 50%; padding-top: 5px; text-align: center; vertical-align: top">
                <div style="color: #CC0000; margin-bottom: -5px; font-weight: bold; font-size: 135%">{{ 'New Titles'|trans }}</div>
                {% for item in newTitles %}
                    <div style="margin-top: 6px; font-weight: bold">{{ loop.index }}. {{ item.name }}</div>
                    <div style="font-style: italic; font-size: 85%">{{ 'by'|trans }} {{ item.producer }}</div>
                {% endfor %}
            </td>
            <td style="width: 5px">
            </td>
        </tr>
        </tbody>
    </table>

    {{ form_start(form) }}
    <table class="noIntBorder borderGrey mb-1" style="width: 100%; background-color: rgba(255,255,255,0.6); margin-top: 30px">
        <tbody>
            {{ form_row(form.search) }}
            <tr id="" class="flex flex-col sm:flex-row justify-between content-center p-0">
                <td class="flex-grow justify-center px-2 border-b-0 sm:border-b border-t-0 right" colspan="2">
                    <div>
                        {{ form_widget(form.submit) }}
                        {{ form_widget(form.clear) }}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    {{ form_end(form) }}
    <section id="paginationContent"></section>
    </div>
{% endblock content %}
