{% trans_default_domain 'Library' %}
{% extends 'kookaburra.html.twig' %}

{% set module = {'baseURL': 'library', 'crumbs': [{uri: 'library__manage_catalogue', name: 'Library'}],  'title': 'Manage Catalogue', domain: 'Library'} %}
{% set breadcrumbs = 'new' %}
{% set moduleName = 'Library' %}

{% block content %}
    <h3>{{ 'View'|trans }}
        <a title="{{ 'Add'|trans }}" style="float:right; font-size: 1.25rem;" onclick="window.open('{{ path('library__edit', {item: 0}) }}','_self')"><span class="fas fa-plus-circle fa-fw text-gray-700"></span></a>
        <a style="float:right; font-size: 1.25rem;" title="{{ 'Export Summary'|trans }}" id="catalogue_search_export" onclick="window.open('{{ path('library__catalogue_export') }}','_self')"><span class="fas fa-file-export fa-fw text-gray-700"></span></a>
        {% if is_granted('ROLE_SYSTEM_ADMIN') and count is same as(0) %}
            <a title="{{ 'Load Demonstration Data'|trans }}" style="float:right; font-size: 1.25rem;" onclick="window.open('{{ path('library__demonstration') }}','_self')"><span class="fas fa-truck-loading fa-fw text-gray-700"></span></a>
        {% endif %}
    </h3>
    <section id="paginationContent"></section>
{% endblock content %}
